ul
{
    list-style: none;
    
   
    padding: 5px;
    background-color:   rgb(232, 103, 107);
    margin: 0;
    margin-bottom: 5px;
    
}


.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 8px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
  }
  
  
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
 
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	border-radius: 50%;
	background-color: #eee;
  }
  

  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  

  .container input:checked ~ .checkmark {
	background-color: #2196F3;
	
  }
  
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	
  }
  

  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  .container .checkmark:after {
	left: 8px;
	top: 4px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }


  


.Icons
{
background-color: rgb(232, 103, 107);

position: relative;
align-items: center;
justify-content: center;
display: flex;

}
.Icons ul 
{
display: flex;
flex-direction: row; 
justify-content: stretch;
margin: 0px;

}

.Icons  li
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 10px;
    padding: 0;
}
.Icons .icon
{
    color: white;
    position: relative;
   font-weight: 400;
   font-size: 20px;
}
.checkboxContiner
{
    position: absolute;
    right: 0px;
    top: 15px;
}

.tlo
{
    width: 45px;
    height: 45px;
    background-color: rgb(190, 103, 107);
    border-radius: 50%;
    opacity: 0;
    position: absolute;
}

#chooseColor , #chooseTag
{
    width: 145px;
    height: 0;
    position: absolute;
    top: 40px;
    left: -50px;
    background-color: white;
    border: none;
    
    border-radius: 5px;
    z-index: 1000;
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}
#chooseTag
{
    width: 0;
    height: 0;
    display: block;
    margin: auto;
    width: min-content;
}
.Icons ul  li:hover #chooseColor 
{
    display: flex;
    flex-wrap: wrap;
    height: 145px;
    
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:  0px 0px 15px 1px rgba(219,212,219,1);
    border: 1px solid rgb(199, 199, 196);
}
.Icons ul  li:hover #chooseTag
{
    overflow: auto;
    display: block;
    flex-wrap: wrap;
    height: 300px;
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:  0px 0px 15px 1px rgba(219,212,219,1);
    border: 1px solid rgb(199, 199, 196);
   
}
#chooseTag #tagName
{
width: 100px;

}
#boxTag
{
    display: block;
    color: black;
}

#boxTag div

{
    display: flex;
    
    align-items: center;
    
}
#boxTag p
{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

input[type=button] 
  {
    
    border-radius: 4px;
  }

input[type=button]:hover 
  {
    box-shadow:  0px 0px 15px 1px rgba(219,212,219,1);
  }

#chooseTag #createTagBox
{
display: flex;

}

.Icons ul  li:hover .tlo
{
    opacity: 0.5;
}



.cyrcle
{
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(199, 199, 196);
    box-shadow:  0px 0px 5px 1px rgba(219,212,219,1);
   
}

#noteCreator_second 
{
    height: 10px;
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#create
{
background-color: transparent;
font-weight: 400;
position: relative;

}

#noteCreator
{
    margin: auto;
    width: min-content;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(199, 199, 196);
    box-shadow:  0px 0px 15px 1px rgba(219,212,219,1);
}

#noteCreator input , textarea
{
  
  
    font-size: 15px;
    border: none;
    padding: 8px;
    margin: 14px;
    background-color: transparent;
}
#noteCreator_first
{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#noteCreator_first input
{
    text-align: center;
}

#nots
{
    position: absolute;
}
#Notes_unChecked, #Notes_checked
{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.note 
{
   
    min-width: 100px;
    min-height: 200px;
    max-width: 500px;
    padding: 20px 15px 40px 15px ;
    border: 1px solid rgb(199, 199, 196);
    box-shadow:  0px 0px 18px 1px rgba(219,212,219,1);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 5px;
    
    height: fit-content;
    position: relative;
    border-radius: 2%;
}
.note h1 
{
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0  40px 0 10px;

}
.note p 
{
    padding: 0;
    padding-top: 3px;
    text-align: start;
    
} 

.note .container
{
right:  0;
top: 2;
position: absolute;
}

.note .tags
{
    
    height:30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 17px;
    background-color: rgb(232, 103, 107);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.note .icons
{
    border-radius: 3px;
    height:30px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(232, 103, 107);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.note .iconaExit
{
    left: 4%;
    position: absolute;
}

.note .iconaExit i
{
   color: rgb(63, 62, 62);
   opacity: 0.2;
   font-size: 20px;
   padding-left: 10px;
}

.note .iconaExit i:hover
{
   
   opacity: 1;
   transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.note .checkmark 
{
    top: -11px;
    left: 11px;
   
}


.note  .dataCreated
{
    height:10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;
    font-size: 13px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}