#Notes, #Notes_checked
{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    
}

.note 
{
    padding: 5px 10px;
    background: rgb(171, 182, 18);
    width: fit-content;
    max-width: 200px;
    margin: 5px;
    height: fit-content;
    

}
.note h1 
{
    font-size: 18px;
    color: wheat;
    text-align: center;
    padding: 0;


}
.note p 
{
    padding: 0;
    padding-top: 3px;
    text-align: start;
} 